<a href="https://colab.research.google.com/github/SALRIGO/py28/blob/master/notebook/ch2_exercises_py28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch2_exercises_py28.ipynb

## Q1.
> 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

- 과목	점수
- 국어	80
- 영어	75
- 수학	55

In [0]:
# [Q1] Code1
mean=[80,75,55]
average = sum(mean)/len(mean)
print('평균:%d'%average)

평균:70

In [0]:
# [Q1] Code2
def average(a,b,c):
   sum = a+b+c
   dvi = sum/3
   print('평균:%d'%dvi)
average(80,75,55)

평균:70

## Q2.
> 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1. 판별 기준
2. 코드

In [215]:
# [Q2] Code
# 1. 판별 기준 : number을 2로 나누어서 나머지가 0일경우 짝수 아닐경우 홀수
number = 13
if number % 2 == 0:
   print("%d는 짝수입니다."%number)
else:
  print("%d는 홀수입나다."%number)

13는 홀수입나다.

## Q3.
> 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

- 문자열 슬라이싱 기법을 사용해 보자.

In [0]:
# [Q3] Code
a = "881120-1068234"
front = a[:6]
back = a[7:]
print('앞자리:%s'%front)
print('뒷자리:%s'%back)

앞자리:881120
뒷자리:1068234

## Q4.
> 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

- pin = "881120-1068234"
- ※ 문자열 인덱싱 또는 내장함수를 사용해 보자.
- 문자열포맷팅을 이용해서 성별을 출력하시오.

In [213]:
# [Q4] Code
pin = "881120-1068234"
a = int(pin[7])

if a%2 == 0:
  print("주민등록 번호의 뒷자리 첫번째수가 {0} 이므로 당신의 성별은 {1}입니다.".format(a,"여자"))
else:
  print("주민등록 번호의 뒷자리 첫번째수가 {0} 이므로 당신의 성별은 {1}입니다.".format(a,"남자"))

주민등록 번호의 뒷자리 첫번째수가 1 이므로 당신의 성별은 남자입니다.

## Q5.
> 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

- a = "a:b:c:d"

In [214]:
# [Q5] Code
a = "a:b:c:d"

a.replace(":","#")

'a#b#c#d'

## Q6.
> [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

- ※ 리스트의 내장 함수를 사용해 보자.

In [212]:
# [Q6] Code
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

## Q7.
> ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

- ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [211]:
# [Q7] Code################
a = ['Life', 'is', 'too', 'short']
" ".join(a)

'Life is too short'

## Q8.
> (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

- ※ 더하기(+) 또는 다른 방법들을 사용해 보자.

In [210]:
# [Q8] Code
Tuple = (1,2,3)

Tuple = Tuple +(4,)
print('튜플 추가',Tuple)

튜플 추가 (1, 2, 3, 4)

## Q9.
> 다음과 같은 딕셔너리 a가 있다.

>> a = dict()  
>> a  
{}

- 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [0]:
# [Q9] Code & explanation
# 9에 있는 코드가 오류가 발생한다
a=dict()
a
{}

a['name'] = 'python'
a[('a',)] = 'python'
# a[[1]] = 'python'  딕셔너리의 key값은 불변값이여야하는데 리스트는 가변값이기 떄문에 오류가 발생한다
a[250] = 'python'

## Q10.
> 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
>> a = {'A':90, 'B':80, 'C':70}

- ※ 딕셔너리의 pop 함수를 사용해 보자.

In [209]:
# [Q10] Code
a = {'A':90, 'B':80, 'C':70}

B = a.pop('B')
"{0:!<7}{1:>3}".format('쨘',B)

'쨘!!!!!! 80'

## Q11.
> a 리스트에서 중복 숫자를 제거해 보자.
>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

- ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [191]:
# [Q11] Code1
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
print('전:%s'%a)
a_set = set(a)
a = list(a_set)
print('후:%s'%a)

전:[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
후:[1, 2, 3, 4, 5]

In [192]:
# [Q11] Code2
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
New_a = []
for n in a:
   if n not in New_a:
      New_a.append(n)
print('전:%s'%a)
print('후:%s'%New_a)

전:[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
후:[1, 2, 3, 4, 5]

## Q12.
> 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

>> a = b = [1, 2, 3]  
>> a[1] = 4  
>> print(b)

In [0]:
# [Q12] Code & explanation
a = b = [1, 2, 3]
a[1] = 4
print(a,b)
print(a==b)
id(a),id(b)
#a를 b에 대입할때 a,b라는 변수는 같은 주소를 공유하기 때문에 a의 값이 변하면 b또한 같게 변한다.

[1, 4, 3] [1, 4, 3]
True

(139938508009032, 139938508009032)

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. pynn repo에 연습결과 노트를 올리시오.
        - 제출노트: ch2_exercises_id.ipynb