<a href="https://colab.research.google.com/github/SALRIGO/py28/blob/master/notebook/ch3_exercises_py28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises_py28.ipynb

## Q1.
> 다음 코드의 결과값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [172]:
# [Q1] Code  
a = "Life is too short, you need python"
if "wife" in a: print("wife")                          # 만일 "wife"가 a안에 포함될경우 wife출력(False)
elif "python" in a and "you" not in a: print("python") # 만일 "python"이 a안에 포함되어있고 you가 포함되지 않을경우 python출력(False)
elif "shirt" not in a: print("shirt")                  # 만일 "shirt"가 a안에 포함되지 않을 경우 shirt출력 (True 출력O)
elif "need" in a: print("need")                        # 만일 "need"가 a에 포함될경우 need출력 (True지만 위의elif문에서 shirt이 출력되어서 출력X)
else: print("none")                                    # 위의 모든 사항이 해당되지 않을경우 none 출력

shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [173]:
# [Q2] Code 1
num = 0
Sum = 0

while num < 1000:
   num = num + 1
   if num % 3 == 0:
       Sum = Sum + num
print("1~1000의 숫자중 3의 배수의 합 = %d "%Sum)

1~1000의 숫자중 3의 배수의 합 = 166833

In [174]:
# [Q2] Code 2
num = 0
product = 0
Sum = 0
while product < 999:
   num = num + 1
   product = num * 3
   Sum += product
print("1~1000의 숫자중 3의 배수의 합 = %d "%Sum)

1~1000의 숫자중 3의 배수의 합 = 166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [175]:
# [Q3] Code
star = 0

while star < 5:
    star = star+1
    print("*" * star)

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [176]:
# [Q4] Code 단순 for문 사용
for num in range(1,101):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [177]:
# [Q4] Code 리스트 내포 사용
num = [i for i in range(1,101)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [178]:
# [Q5] Code 1a
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
average = 0
for grade in range(len(A)):
  average += A[grade]/len(A)

print("A학급의 평균은 %d 입니다."%average)

A학급의 평균은 79 입니다.

In [180]:
# [Q5] Code 1b
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
Sum = 0
for grade in A:
  Sum += grade
average = Sum/len(A)
print("A학급의 평균은 %d 입니다."%average)

A학급의 평균은 79 입니다.

In [183]:
# [Q5] Code 2 for문과 input을 이용한 점수입력
A=[]
average=0
for num in range(0,10):
  A.append(input("학생{0}:".format(num+1)))
for num in range(len(A)):
   average += int(A[num])/len(A)
print("A학급의 평균은 %d 입니다."%average)

학생1:70
학생2:60
학생3:55
학생4:75
학생5:95
학생6:90
학생7:80
학생8:80
학생9:85
학생10:100
A학급의 평균은 79 입니다.

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [186]:
# [Q6] Code
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [n*2 for n in numbers if n % 2 == 1]
result

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [187]:
# [Q7] Code-1
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
average = 0

for num in range(len(scores)):
  average += scores[num]/len(subjects)
  print(subjects[num],scores[num])
print("평균: %.2f" %average)

파이썬 91
영어 67
수학 88
물리 75
평균: 80.25

In [188]:
# [Q7] Code-2 zip 활용
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]

Sum = 0
average = 0
for subject, score in zip(subjects, scores):
     Sum += score
     print(subject, score)
print("평균: {0}".format(Sum/len(subjects)))

파이썬 91
영어 67
수학 88
물리 75
평균: 80.25

In [189]:
# [Q7] Code-3 enumerate 활용
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
average = 0
for num, score in enumerate(scores):
   print(subjects[num],score)
   average += score/len(subjects)
print("평균: {0}".format(average))

파이썬 91
영어 67
수학 88
물리 75
평균: 80.25

In [131]:
# [Q7] Code-4 while 활용
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
num = 0
average = 0

while num < len(subjects):
   average += scores[num]/len(subjects)
   print(subjects[num], scores[num])
   num += 1
print("평균: {0}".format(average))

파이썬 91
영어 67
수학 88
물리 75
평균: 80.25

In [138]:
# [Q7] Code-5a input을 이용한 성적입력
scores = []
scores.append(input("파이썬 점수:"))
scores.append(input("영어 점수:"))
scores.append(input("수학 점수:"))
scores.append(input("물리 점수:"))
average = 0
for num in range(len(scores)):
  average += int(scores[num])/len(scores)
print("평균: {0}".format(average))

파이썬 점수:91
영어 점수:67
수학 점수:88
물리 점수:75
평균: 80.25

In [171]:
# [Q7] Code-5b input을 이용한 성적입력(for문을 이용)
subjects = ['파이썬', '영어', '수학', '물리']
scores = []
average = 0
for num in range(0,4):
  scores.append(input("%s 점수:"%subjects[num]))
for num in range(len(scores)):
  average += int(scores[num])/len(scores)
print("평균: {0}".format(average))

파이썬 점수:91
영어 점수:67
수학 점수:88
물리 점수:75
평균: 80.25

In [141]:
# [Q7] Code-6 dictionary 활용
grade = {'파이썬':91, '영어':67, '수학':88, '물리':75}
Sum = grade['파이썬']+grade['영어']+grade['수학']+grade['물리']
average = Sum/len(grade)
print(grade)
print("평균: {0}".format(average))

{'파이썬': 91, '영어': 67, '수학': 88, '물리': 75}
평균: 80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb